
body{
    background-color: #051D3B;
    font-family: 'Inter', sans-serif;
     color: #fff;
     margin: 10px 20px;
  }

  .projeto {
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
     margin: -170px 15px 50px 1187px;
  }

  .projeto-nome input{
    background-color: #394975;
    color: #fff;
    padding: 20px 15px 20px 15px;
    width: 225px;
    border: none;
    border-radius: 6px;
  }



  .projeto-descricao textarea[name="descricao"]{
    background-color: #394975;
    color: #fff;
    padding: 20px 15px 20px 15px;
    margin-top: 12px;
    width: 225px;
    border: none;
    border-radius: 6px;
  }

  .personalizacao {
    display: inline-block;
    vertical-align: middle;
    padding:15px;
     margin: -51px 10px 50px 1187px;
  
  }

  .personalizacao-opcoes{
    background-color: #394975;
    color: #fff;
    padding: 20px 15px 20px 15px;
    margin-top: 12px;
    width: 250px;
    border: none;
    border-radius: 6px;
  }

  select#personalizacao-corfundo {
    background-color: #6BD1FF;
    padding: 20px 15px 20px 15px;
    margin-top: 12px;
    width: 250px;
    border: none;
    border-radius: 6px;
  }

  
  /* Estilize as opções individualmente */
  select#personalizacao-corfundo option[value="#9AFF6B"] {
    background-color: #9AFF6B; /* Verde */
  }
  select#personalizacao-corfundo option[value="#6BD1FF"] {
    background-color: #6BD1FF; /* Azul */
  }
  select#personalizacao-corfundo option[value="#FFC46B"] {
    background-color: #FFC46B; /* Laranja */
  }
  select#personalizacao-corfundo option[value="#6B83FF"] {
    background-color: #6B83FF; /* Azul Escuro */
  }
  select#personalizacao-corfundo option[value="#FF6BCD"] {
    background-color: #FF6BCD; /* Rosa */
  }

  button {
    background-color:#5081FB;
    color: #fff;
    padding: 20px 15px 20px 15px;
    margin-top: 23px;
    width: 250px;
    border: none;
    border-radius: 6px;
  }

.compartilha-cod {
  
 
}


.compartilha-cod textarea[name="cod"]{
  margin: -525px 10px 70px 290px;
    background-color: black;
    color: #fff;
    border-width:40px ; 
    border-color: #6BD1FF;
}



  
/*
background: #9AFF6B; verde
background: #6BD1FF; azul marinho
background: #6BD1FF; azul claro
background: #FFC46B; amarelo por do sol
background: #6B83FF; roxo
background: #FF6BCD; rosa






