/* Estilos padrão para o header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #051D3B;
  color: #fff;
}

.logo img {
  max-width: 50%;
  height: auto;
}

.busca {
  padding: 15px;
  padding-right: 250px;
}

.busca input {
  background-color: #394975;
  color: #fff;
  padding: 15px;
 width: 700px;
  border: none;
  border-radius: 10px;
}



.perfil img{
max-width: 45%;
height: auto;

}




    



  
  
 

 

