/* Estilos padrão para o header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #051D3B;
  color: #fff;
}

.logo img {
  max-width: 50%;
  height: auto;
}


.busca input {
  background-color: #394975;
  padding: 15px;
  width: 400px;
  border: none;
  border-radius: 10px;
}

.busca input[type="text"]::placeholder {
  /* Estilos para o campo de busca */
  color: #fff;
 
}



.perfil img{
max-width: 30%;
height: auto;
margin-left:400px ;
}


body{
  background-color: #051D3B;
  font-family: inter;
}

    



  
  
 

 

